body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import '~antd/dist/antd.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  span {
    @apply text-black;
  }

  p {
    @apply font-normal;
  }

  h1 {
    @apply text-4xl font-bold;
  }

  h2 {
    @apply text-3xl font-semibold;
  }

  h3 {
    @apply text-2xl font-medium;
  }

  h4 {
    @apply text-xl;
  }

  .center_a_div {
    @apply flex items-center justify-center;
  }

  blockquote {
    @apply p-2 bg-zinc-100 font-semibold text-lg text-slate-600 border-l-8 border-zinc-500 my-1;
  }

  /* ... */
}

/* @import "./customTaiwind.sass" */